.column1.sign_in
  .box
    %h4 Sign In

    %p.error
      = flash[:error]

    = form_for :session, url: { action: :create } do |f|
      = f.text_field :email, placeholder: 'Email'
      = f.password_field :password, placeholder: 'Password'
      = f.submit 'Sign In'

    = link_to 'New user?', new_user_path, {class: 'right'}

= javascript_include_tag 'users/app'
